# group_vars/all.yml

# Command Line Tools (Brew Formulae)
common_formula_apps:
  - git
  - mas        # Required for App Store automation

# GUI Applications (Brew Casks)
common_cask_apps:
  - affinity
  - appcleaner
  - bloom
  - jordanbaird-ice # ICE Menu Bar Organiser
  - loop
  - spotify
  - vlc
  - whatsapp

# Mac App Store (MAS)
common_mas_apps:
  - { id: 411643860, name: 'DaisyDisk' }

# OTHER INSTALL METHOD
