# group_vars/all.yml

# Command Line Tools (Brew Formulae)
common_formula_apps:
  - dockutil  # Required to manage the MacOS Dock via command line
  - git
  - mas        # Required for App Store automation

# GUI Applications (Brew Casks)
common_cask_apps:
  - affinity
  - appcleaner
  - bloom
  - jordanbaird-ice # ICE Menu Bar Organiser
  - loop
  - spotify
  - vlc
  - whatsapp

# Mac App Store (MAS)
common_mas_apps:
  - { id: 411643860, name: 'DaisyDisk' }

# OTHER INSTALL METHOD


configure_dock: true
dock_clear_all: true

dock_apps:
  - path: "/System/Applications/Messages.app"
  - path: "/System/Applications/Notes.app"
  - path: "/System/Applications/Reminders.app"
  - path: "/System/Applications/System Settings.app"

dock_folders: []