
---
# roles/common/tasks/main.yml

# Install Rosetta for Apple Silicon Machines
- name: Ensure Rosetta 2 is installed on Apple Silicon
  shell: softwareupdate --install-rosetta --agree-to-license
  when: ansible_architecture == "arm64"
  args:
    creates: /Library/Apple/usr/share/rosetta/rosetta

- name: Ensure Homebrew is installed
  stat:
    path: /opt/homebrew/bin/brew
  register: homebrew_check
  failed_when: not homebrew_check.stat.exists
  tags: always

- name: Update Homebrew
  homebrew:
    update_homebrew: yes
  tags: always

- name: Install common applications
  include_tasks: install_apps.yml
  vars:
    role_prefix: common
  tags: always