
---
# roles/common/tasks/main.yml

# Install Rosetta for Apple Silicon Machines
- name: Ensure Rosetta 2 is installed on Apple Silicon
  shell: softwareupdate --install-rosetta --agree-to-license
  when: ansible_architecture == "arm64"
  args:
    creates: /Library/Apple/usr/share/rosetta/rosetta

- name: Ensure Homebrew is installed
  stat:
    path: /opt/homebrew/bin/brew
  register: homebrew_check
  failed_when: not homebrew_check.stat.exists

- name: Update Homebrew
  homebrew:
    update_homebrew: yes

- name: Install common formula apps
  homebrew:
    name: "{{ common_formula_apps }}"
    state: present
  when: common_formula_apps is defined and common_formula_apps | length > 0

- name: Install common cask apps
  homebrew_cask:
    name: "{{ common_cask_apps }}"
    state: present
  when: common_cask_apps is defined and common_cask_apps | length > 0

- name: Install common Mac App Store apps
  command: "mas install {{ item.id }}"
  loop: "{{ common_mas_apps }}"
  register: mas_result
  changed_when: "'Installed' in mas_result.stdout"
  failed_when: mas_result.rc != 0 and 'already installed' not in mas_result.stderr
  when: common_mas_apps is defined and common_mas_apps | length > 0